.s_customElements{
    min-width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

 .h-sectionClinique + .offset8{
     position: sticky;
     top: 0;
 }
 .row .h-sectionClinique.span8 {
     height: initial;
 }
 
 .s_redError {
     color: red !important;
     background: mistyrose;
 }
 .s_redWarning {
     color: red !important;
     background: mistyrose;
     display: flex;
     height: 3rem;
     justify-content: center;
     align-items: center;
     margin: 0 1rem 1rem 1rem;
 }
 .s_redText {
     color: #df0000;
 }
